/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header01 {
    background-color: #153d6f;
    color: #fff;
    padding: 7px;
    text-align: center;
  }
  
  .header02 {
    background-color: #d6d6d6;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: fit-content ;
  }

  .header03 {
    background-color: #aaaaaa;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: fit-content ;
  }
  
  nav {
    margin-top: 1em;
  }
  
  nav ul {
    list-style: none;
    padding: 1;
    display: flex;
    justify-content: center;
  
  }
  
  nav a {
    text-decoration:none;
    color: #153d6f;
    font-family: Helvetica;
    padding: 1em;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  
  nav a:hover {
    background-color: rgb(232, 232, 232);
    border-radius: 20px;
    color: #000000;
    border-radius: 50px;
    font-size:100%;
    box-shadow: 0 8px 16px #153d6f(0, 0, 0, 1.);
  transition: 0.5s ease-in-out;
  }
  
  main {
    padding: 1em;
  }
  
  footer {
    background-color: #153d6f;
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  
  .cs_image{
    height: 300px;
  }
  
  .comp_logo{
    align-self: center;
    width: 400px;
  }
  
  .images_batch_002 {
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .b_002_image_cont {
    margin: 20px;
    text-align: center;
    flex: 0 0 calc(25% - 40px);
  }
  
  .b_002_image_cont img {
    width: 250px;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    margin:0;
  }
  
  .b_002_image_cont img:hover {
    width: 255px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .main_subtext {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    align-self:center;
  }
  
  .readmore_button_01{
  display: inline-block;
  padding: 15px;
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  background-color:#153d6f;
  border-radius: 110px;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 15px;
  align-self:center;
  }
  
  .readmore_button_01:hover{
  opacity:80%;
  }
  
  .image_batch_001 {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #000000;
  }
  
  .image_batch_001_001 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
  }
  
  .b_001_text_001 {
    position: absolute;
    top: 27%;
    left: 10%; 
    transform: translateY(700px);
    transform: translateX(10%);
    color: #fff;
    text-align: center;
    width: 1000px;
  
  }
  
  .b_001_text_001 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .apply_now_button_01 {
    font-size: 20px;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    background-color:#153d6f;
    border-radius: 60px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .apply_now_button_01:hover {
    background-color:#2367b9;
  }
  
  .course_subtext {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 0px;
    text-align: center;
  }
  
  .course_subtext_01 {
    font-family: Helvetica;
    font-weight:100;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
  }
  
  .image_batch_003 {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-top: 20;
    margin-bottom: 20px;
    background-color: #000000;
  }
  
  .image_batch_003_001 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
   }
  
  .b_003_text_001 {
    position: absolute;
    top: 50%;
    left: 10%; 
    transform: translateY(-60%);
    color: #fff;
    text-align: left;
     font-size: 30px;
    font-weight: bold;
  margin-bottom: 0px;
  }
  .b_003_text_003{
  margin-top: 0px;
  font-weight: 100;
    font-size: 20px;
  }
  
  .apply_now_button_01 {
    font-size: 20px;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    background-color:#153d6f;
    border-radius: 60px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .apply_now_button_01:hover {
  background-color: #2b5d9b;
  }
  
  .image-and-writeup-container {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  .image-container {
    flex: 0 0 40%; 
    width: 30px;
    margin-right: 0px;
  
  }
  
  .image-container img {
    width: 200px;
    max-width: 100%;
    border-radius: 40px;
  }
  
  
  .writeup-container {
    flex: 1;
    margin-left:70px ;
  }
  
  .writeup-container h2 {
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  footer {
    background-color:#153d6f;
    color: #fff;
    padding: 20px;
  }
  
  .newsletter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .newsletter-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
  }
  
  .subscribe-button {
    font-size: 15px;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    color:#153d6f;
    border: none;
    background-color:#ffffff;
    border-radius: 60px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .subscribe-button:hover {
    opacity: 90%;
  
  }
  
  .contact-email-details{
    display: flex;
  }
  
  .contact-details {
    max-width: 400px;
    margin-right: 80px;
    text-align: left;
  }
  
  .email-details {
  text-align: left;
  }
  
  .phone{
    font-size: 12px;
  }
  
  .h4 {
    margin-bottom: 0px;
    font-size: 20px;
  }
  
  .h5{
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
    
  .staff-member {
    margin-bottom: 20px;
  }
  
  .staff-member img {
    width: 100%;
    max-width: 200px;
    border-radius: 20px;
  }
  

  
  .project {
    margin-bottom: 20px;
  }
  
  .project img {
    width: 100%;
    max-width: 250px;
    border-radius: 20px;
  }
  